.left {
  float: left;
}

.right {
  float: right;
}

.overflow {
  overflow: hidden;
}

.hidden {
  display: none;
}

/* Home page formatting */
body.front {
  p {
    margin-bottom: 17px;
  }
}

.view-nhs-news {
  span.field-content {
    display: block;
    margin-bottom: 8px;
  }
  .view-footer {
    margin-bottom: 35px;
  }
}

.home-profile-photo {
  margin-right: 14px;
}

/* Page */
.zone-content-wrapper .zone-content {
  padding-bottom: 20px;
}

.block-fs-widget-home-block h2.block-title {
  color: #00b0d8;
  font-weight: normal;
  font-size: 1.250em;
}

.block-boxes-nhs-foi {
  padding: 20px 20px 1px;
  background-color: #CEEBF0;
}

.block-boxes-nhs-foi h2.block-title {
  margin-bottom: 10px;
  color: #011E49;
  font-size: 16px;
  font-weight: bold;
}

.content ul,
.content ol {
  margin-left: 8px;
  li {
    margin-bottom: 10px;
  }
}

.container-12{
  background-color: white;
}

/* Header */
#section-header .branding-data{
  padding: 35px 20px 25px 20px;
}

.logo-img {
  float: right;
  margin-right: 0;
}

#section-header .branding-data .site-name-slogan{
  float: left;
  margin-top: 24px;
}

#zone-menu{
  padding-bottom: 20px;
}

/* Nav */
.primary-menu ul {
  padding-top: 6px;
  margin-bottom: 0;
}

.primary-menu li {
  float: left;
}

.zone-menu li {
  list-style: none;
}

#region-menu .region-inner{
  background-color: $pale-blue;
  overflow: auto;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}

#region-menu nav{
  float: left;
  margin-left: 16px;
  margin-bottom: 6px;
}

.primary-menu li {
  margin: 0;
  border-right: 1px solid $blue-text;
}

.primary-menu li.active-trail a,
.primary-menu li.active a {
  margin: 0 3px;
  padding-top: 3px;
  padding-bottom: 6px;
  background-color: #FFF;
  -webkit-border-top-left-radius: 3px;
  -webkit-border-top-right-radius: 3px;
  -moz-border-radius-topleft: 3px;
  -moz-border-radius-topright: 3px;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
}

.primary-menu li a {
  padding: 0 .3em;
}

#region-menu nav li.last {
  border: none;
}

#region-menu #block-search-form{
  float: right;
  padding-top: 1px;
}

#region-menu #block-search-form .form-item{
  margin: 0;
}

#region-menu #block-search-form .container-inline .form-item-search-block-form{
  display: block;
  float: left;
}

#region-menu #block-search-form .form-item-search-block-form label{
  margin: 3px 3px 0 0;
  display: block;
  float: left;
}

#region-menu #block-search-form .form-item-search-block-form #edit-search-block-form--2{
  border: none;
  height: 20px;
  padding: 0px;
}

#edit-actions--2 input{
  margin: 0;
}

#region-menu #block-search-form #edit-actions{
  float: left;
}

/* Secondary menu */
ul.secondary-menu {
  margin-top: 4px;
  margin-bottom: 0;
  padding-left: 15px;
}

.secondary-menu li {
  float: left;
  margin-left: 5px;
  padding-right: 5px;
  text-transform: none;
  border-right: 1px solid $blue-text;
}

.secondary-menu li.last {
  border-right: none;
}

/* Search form */
.zone-menu-wrapper .block-search-form {
  margin-top: 2px;
  margin-bottom: 3px;
}

/* Give Feedback */
#give-feedback {
  position: absolute;
  top: 200px;
  left: 0 px;
}

/* Add This */
.views-field-field-addthis {
  span.views-label-field-addthis {
    margin-bottom: 10px;
    display: block;
  }
  margin-bottom: 20px;
}
.block-nhs-addthis-block {
  float: right;
}

/* Review dates */
.review-dates {
  float: left;
  width: auto;
  font-style: italic;
}


.ui-widget-header {
  background: url("../images/global/feedback-title-bar-bgd.png") repeat-x scroll 50% 50% #095ca6;
  border: 0;
  color: white;
}

.ui-state-focus .ui-icon,
.ui-widget-header .ui-icon
{
  background-image: url("../images/global/ui-icons_454545_256x240.png");
}

.ui-widget-header .ui-state-hover,
.ui-widget-header .ui-state-focus
{
  background-image: url("../images/global/ui-bg_glass_75_dadada_1x400.png");
  background-colour: #095ca6;
  border: 1px solid transparent;
}

/* Region Content */
body.not-front #region-content .region-inner{
  margin-left: 20px;
}

#region-content .region-inner img{
  max-width: 100%;
  height: auto;
}

/* In this section */
#block-menu-block-1 {
  h2 {
    color: #011e49;
    font-family: Arial;
    font-size: 16px;
  }
  ul {
    margin-top: 10px;
    margin-bottom: 30px;
    li {
      margin-bottom: 1px;
      margin-left: 10px;
    }
  }
}

/* Article Formatting */
.content-info {
  margin: 0 20px 20px;
}

.page-title{
  margin-bottom: 16px;
}

.field-name-field-image {
  margin-bottom: 20px;
}

/* Homepage */
#block-views-homepage-carousel-block{
  padding: 0 18px;
}

#block-views-homepage-carousel-block .flexslider{
  box-shadow: none;
}

#block-views-homepage-carousel-block .flexslider .slides img{
  height: auto;
}

#block-views-homepage-carousel-block .flexslider ul{
  margin: 0;
}

/* Direction Nav */
.flexslider {
  margin-bottom: 0;
}
.flexslider .flex-direction-nav a{
  display: block;
}

.flex-direction-nav a {
  width: 45px;
  height: 45px;
  margin: -20px 0 0;
  display: block;
  background: url("../images/homepage/bg_direction_nav.png") no-repeat scroll 0px 0px transparent;
  position: absolute;
  top: 50%;
  z-index: 10;
  cursor: pointer;
  text-indent: -9999px;
  opacity: 1;
  -webkit-transition: none;
}

.flex-direction-nav .flex-next {
  background-position: 100% 0;
  right: -27px;
}

.flex-direction-nav .flex-prev {
  left: -27px;
}

.flexslider:hover .flex-next {
  opacity: 1;
  right: -27px;
}

.flexslider:hover .flex-prev {
  opacity: 1;
  left: -27px;
}

.flexslider:hover .flex-next:hover, .flexslider:hover .flex-prev:hover {
  opacity: 1;
}

.flex-direction-nav .flex-disabled {
  opacity: .3!important;
  filter:alpha(opacity=30);
  cursor: default;
}

/* News */
div.news-body{
  margin-top: 10px;
}

.views-field.news-date {
  margin: 0.3em 0;
  color: $news-date-grey;
}

.view-id-nhs_news .view-footer a{
  float: right;
}

/* Comments */
#comments{
  clear: both;
  margin-left: 20px;
}

/* Sidebar */
#block-views-news-block .views-row{
  padding: 20px 0;
}

#block-views-news-block h3{
  margin: 0;
}

#block-views-news-block h5.news-date{
  margin: 0;
}

#block-boxes-contact-us-map {
  margin-top: 43px;
}

.region-sidebar-second-inner {
  padding: 0 20px;
}

.region-sidebar-second .block-inner {
  padding-top: 15px;
  border-top: 1px solid #007AC3;
}

.region-sidebar-second section:first-child .block-inner {
  padding-top: 0;
  border-top: 0;
}

.region-sidebar-second .content ul {
  margin-left: 0;
}

.related-web-links ul,
.related-publication ul,
.related-policy ul,
.related-download ul {
  margin-top: 10px;
  list-style-type: none;
  li {
    margin: 0;
    padding: 5px 0;
    a {
      display: block;
      padding-left: 20px;
      text-decoration: none;
      background: url('../images/css/sidebar-arrow.png') transparent 0 50% no-repeat;
    }
  }
}

.region-sidebar-second .block-boxes-fs-widget-home-block {
  margin-bottom: 10px;
  padding-bottom: 10px;
  .block-inner {
    margin-bottom: 0;
    border-bottom: none;
    h2.block-title {
      margin-bottom: 10px;
      font-weight: bold;
    }
  }
}

.region-sidebar-second #fs-nhs-widget {
  ul.nhs-widget-nav li {
    margin: 0 1px 0 0;
    a {
      padding: 4px 3px 4px 5px;
    }
  }
  .nhs-widget-input {
    margin: 2px 4px 5px 0;
    width: 46%;
  }
  .nhs-widget-btn-wrapper {
    margin: 0 2px 0 0;
    button {
      padding: 2px 5px;
    }
  }
}

.twitter_block_user {
  display: none;
}

#block-views-news-block p{
  margin: 0;
}

#block-views-news-block .read-more{
  margin-top: 5px;
}

#block-views-news-block .read-more a{
  background: url("../images/global/read-more-arrow.png") no-repeat;
  padding: 2px 0 0 23px;
}

/* Article List */
.article-list ul {
  margin-left: 0;
  li {
    margin-left: 0;
    padding-left: 0;
    margin-top: 13px;
    padding-bottom: 13px;
    border-bottom: 1px solid #CCC;
    img {
      margin-right: 10px;
    }
    p {
      margin-bottom: 0;
    }
  }
}

/* Key Staff Hub */
.block-key-staff-block .clearfix:after,
.block-key-staff-block-1 .clearfix:after,
.block-key-staff-block-2 .clearfix:after
{
  content: none;
  clear: none;
  display: none;
}

#block-boxes-registered-interests-link{
  clear: both;
}

.block-views-key-staff-block .views-row{
  width: 220px;
  height: 450px;
  float: left;
  margin: 25px;
  padding-left: 0 10px;
}

.block-views-key-staff-block .views-field-field-image{
  width: 220px;
  padding: 10px;
  border: 1px solid $pale-blue;
  position: relative;
  left: -10px;
  margin-bottom: 10px;
}

.block-views-key-staff-block .views-field-title{
  display: inline;
}

.block-views-key-staff-block .views-field-field-qualifications{
  display: inline;
}

.block-views-key-staff-block .views-field-field-qualifications div{
  display: inline;
}

.block-views-key-staff-block .views-field-field-bio{
  width: 220px;
  margin: 10px 0 10px 0;
}

.block-views-key-staff-block .views-field-field-registered-interests ul{
  margin: 0;
}

.block-views-key-staff-block .views-field-field-registered-interests ul li{
  margin: 0;
}

.block-views-key-staff-block .views-field-field-bio{
  margin-bottom: 0;
}

.block-views-key-staff-block .views-field-field-bio p{
  margin-bottom: 0;
}

.block-views-key-staff-block .read-more{
  float: right;
  margin-top: 3px;
  margin-right: 10px;
}

.block-views-key-staff-block .view-footer{
  clear: both;
}

/* Key Staff */
.node-key-staff-member .field-type-image{
  float: left;
  margin: 0 20px 20px 0;
}

.region-content-key_staff_member #page-title{
  margin: 0;
  margin-right: .3em;
  float: left;
}

.region-content-key_staff_member .field-name-field-title{
  margin-bottom: 10px;
}

/* Registered Interests */

.view-registered-interests .views-field-title{
  margin-top: 20px;
}

.view-registered-interests ul{
  margin: 0px;
}

.view-registered-interests ul li{
  margin: 0px;
}

/* Accordions content */
ul.accordion {
  margin-left: 0;
  padding-left: 0;
}

ul.accordion li {
  padding-left: 0;
  list-style: none;
}

body.hasJS ul.accordion li {
  margin-bottom: 0;
}

ul.accordion li strong {
  display: block;
  margin-bottom: 10px;
  padding: 8px;
  cursor: pointer;
  text-shadow: 1px 1px 0 rgba(255,255,255, 0.4);
  background: url('../images/css/accordion/nav.png') transparent 98% 11px no-repeat;
  background-color: #CEEBF0;
}

ul.accordion li.expand strong {
  background-position: 98% -25px;
}

body.hasJS ul.accordion li .inner-data {
  padding: 0 8px 10px;
}

/* Related Youtube Videos */
.view-content-related-youtube-videos{
  background-color: $pale-blue;
  margin-bottom: 20px;
}

.media-youtube-player{
  width: 95%;
  margin: 2.5%;
}

.view-content-related-youtube-videos .views-field-title{
  display: none;
}

#youtube-video-selector-label{
  float:right;
  margin-top: 5px;
  margin-right: 5px;
}

#youtube-video-selector{
  margin-right: 2.5%;
  float: right;
}

/* Footer */
.section-footer{
  background-color: $pale-blue;
  padding: 14px 0 10px 0;
}

footer .container-12{
  background-color: transparent;
}

.region-footer-first-inner{
  margin-left: 20px;
}

footer #boxes-box-copywrite_notice p{
  margin: 7px 10px 3px 0;
}

footer #boxes-box-copywrite_notice .boxes-box-controls{
  display: none;
}

footer ul.menu{
  margin: 0;
  padding: 0;
}

footer ul.menu li{
  margin: 0;
}

footer ul li.leaf {
  list-style-image: none;
  list-style-type: none;
  padding: 0;
}

footer li{
  float: left;
}

footer li a{
  display: block;
  padding-right: 4px;
  margin-top: 5px;
  margin-right: 4px;
  border-right: 1px solid $navy-text;
  text-transform: uppercase;
}

footer li:last-child a{
  border-right: 0;
  padding-right: 0;
}

#widgets-element-socialmedia_profile-default{
  float: right;
}

#widgets-element-socialmedia_profile-default .widgets-element{
  padding: 0 4px;
}

/* Webforms */
fieldset.webform-component-fieldset {
  padding: 14px;
  border: 1px solid #999;
  legend {
    margin: 0 5px;
    color: #011E49;
    font-size: 1.3em;
  }
}

div.webform-component label {
  float: left;
  display: block;
  width: 100px;
  margin-top: 5px;
  color: #011e49;
  font-size: 1.1em;
}

/* Breadcrumbs */
.item-list .breadcrumbs {
  margin-left: 20px;
  li {
    float: left;
    margin-left: 0;
    margin-right: 5px;
    padding-right: 5px;
    border-right: 1px solid #011E49;
    a {

    }
  }
}

/* Cookie Policy */
#sliding-popup .popup-content {
  width: auto;
}

#sliding-popup .popup-content #popup-text {
  width: auto;
  margin-right: 50px;
}

#sliding-popup .popup-content #popup-buttons {
  margin-left: 50px;
}

#give-feedback{
  display: none;
}

/* Search results */
body.page-search .node {
  margin-top: 60px;
  margin-bottom: 60px;
  h2 {
    margin-bottom: 5px;
    font-size: 14px;
    line-height: 14px;
  }
  p{
    margin: 0;
  }
  .group-left{
    width: 55%;
    padding-right: 5%;
  }
  .group-right{
    width: 35%;
    padding-right: 5%;
  }
  .field-name-field-org-telephone{
    font:{
      size: 14px;
      weight: bold;
    }
    line-height: 14px;
    margin-bottom: 5px;
  }
  .field-name-single-line-address{
    margin-bottom: 5px;
    .field-items{
      width: 245px;
    }
  }
  .field-name-accepting-new-patients{
    margin-bottom: 5px;
  }
  .field-name-field-org-website-url a{
    -ms-word-break: break-all;
     word-break: break-all;
     /* Non standard for webkit */
     word-break: break-word;
     -webkit-hyphens: auto;
     -moz-hyphens: auto;
     hyphens: auto;
  }
}

.views-field-field-online-appointment-booking a{
  margin-top: 10px;
  color: blue;
}
.page-search div.view-book-an-appointment-online {
  margin-bottom: 10px;
}
.field-name-field-org-website-url{
  margin-top: 10px;
}

.field-name-field-org-address-line-1{
  margin-top: 10px;
}

.node-type-organisation{
  .group_org_overview{
    .field-name-field-org-telephone{
      margin: 5px 0;
    }
    .field-name-field-org-fax{
      margin: 5px 0;
    }
    .field-name-field-org-website-url{
      margin: 5px 0;
    }
    .field-name-field-org-email{
      margin: 5px 0;
    }
  }
  .group-right{
    width: 47%;
    .group_org_links h2{
      font-size: 14px;
      margin: 10px 0 0 0;
    }
  .field-name-accepting-new-patients{
    margin-top: 20px;
  }
  }
}

/* Facets */
#boxes-box-search_filter_title{
  h2{
    font-size: 1.2em;
    margin-bottom: 10px;
  }
}

.block-facetapi{
  .block-inner{
    border-top: 0;
    padding-top: 0;
  }
}