@charset 'UTF-8';

.block-nhs-choices-widget h2.block-title {
  margin-top: 8px;
}

#nhs-choices-widget ul {
  list-style: none;
}

#nhs-choices-widget ul li {
  margin-top: 10px;
  margin-bottom: 0;
}

#nhs-choices-widget ul lifirst-child {
  margin-top: 0;
}

#nhs-choices-widget ul li h3 {
  margin-bottom: 0;
  padding: 8px;
  font-size: 10pt;
  cursor: pointer;
  text-shadow: 1px 1px 0 rgba(255, 255, 255, 0.4);
  background: url('/sites/all/themes/nhs/images/css/accordion/nav.png') transparent 98% 11px no-repeat;
  background-color: #ceebf0;
  border-radius: 5px;
}

#nhs-choices-widget ul li h3.active-choice {
  background-position: 98% -25px;
}

#nhs-choices-widget ul li div.widget-search-form {
  margin: 0 5px;
  padding: 10px;
  background: #ECEDEE;
}

