/* This file will hold styles that are loaded using the same media query as the narrow grid. */
/* If you are using the default media queries provided by Omega, these styles will also
 *  apply to the normal and widescreen layouts. You may override these styles in the normal 
 *  and widescreen CSS files as appropriate. */

/*
 * Site overrides:
 */
.view-homepage-carousel{
  min-height: 170px;
  height: auto!important;
  height: 170px;
}

/* Global */
#page {
  background-color: #E7E7E7;
}


/* Home page */
body.front .region-content-nhs_home_page {
  position: relative;
  left: 12px;
}

#flexslider-1 {
  margin-right: 10px;
}

/*
body.front .homepage-news{
  width: 420px; 
}
*/
